USE [master]
GO
/****** Object:  Database [CMedicineDB]    Script Date: 6/27/2015 11:13:58 AM ******/
CREATE DATABASE [CMedicineDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CMedicineDB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\CMedicineDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CMedicineDB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\CMedicineDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CMedicineDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CMedicineDB]
GO
/****** Object:  Table [dbo].[tbl_CenterCreate]    Script Date: 6/27/2015 11:13:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_CenterCreate](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[ThanaID] [int] NULL,
	[DistrictID] [int] NULL,
	[Code] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_CenterCreate] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Disease_Entry]    Script Date: 6/27/2015 11:13:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Disease_Entry](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DiseaseName] [varchar](50) NOT NULL,
	[DiseaseDescription] [varchar](500) NOT NULL,
	[DiseaseTreatment] [varchar](500) NOT NULL,
	[DiseaseProcedure] [varchar](500) NOT NULL,
 CONSTRAINT [PK_tbl_Disease_Entry] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_District]    Script Date: 6/27/2015 11:13:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_District](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DistrictName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_District] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_DoctorEntry]    Script Date: 6/27/2015 11:13:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_DoctorEntry](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Degree] [varchar](50) NULL,
	[Specialization] [varchar](50) NULL,
	[CenterID] [int] NULL,
	[ThanaID] [int] NULL,
	[DistrictID] [int] NULL,
 CONSTRAINT [PK_tbl_DoctorEntry] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Dose]    Script Date: 6/27/2015 11:13:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Dose](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Dose] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_Dose] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Medicine]    Script Date: 6/27/2015 11:13:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Medicine](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MedicineName] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_Medicine] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_SendMedicine]    Script Date: 6/27/2015 11:13:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_SendMedicine](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DistrictID] [int] NULL,
	[ThanaID] [int] NULL,
	[Center] [varchar](50) NULL,
	[MedicineName] [varchar](50) NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_tbl_SendMedicine] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Thana]    Script Date: 6/27/2015 11:13:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Thana](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ThanaName] [varchar](50) NOT NULL,
	[DistrictID] [int] NOT NULL,
 CONSTRAINT [PK_tbl_Thana] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_TreatmentGiven]    Script Date: 6/27/2015 11:13:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_TreatmentGiven](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VoterID] [varchar](50) NULL,
	[ServiceGiven] [int] NULL,
	[Observation] [varchar](500) NULL,
	[Date] [datetime] NULL,
	[Doctor] [varchar](50) NULL,
	[Disease] [varchar](50) NULL,
	[Medicine] [varchar](50) NULL,
	[Dose] [varchar](50) NULL,
	[Meal] [varchar](50) NULL,
	[Quantity] [int] NULL,
	[Note] [varchar](50) NULL,
	[CenterID] [int] NULL,
	[ThanaID] [int] NULL,
	[DistrictID] [int] NULL,
 CONSTRAINT [PK_tbl_TreatmentGiven] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_CenterCreate] ON 

INSERT [dbo].[tbl_CenterCreate] ([ID], [Name], [ThanaID], [DistrictID], [Code], [Password]) VALUES (1, N'Karimgoanj Community Center', 6, 2, N'Muk873', N'SOfcZr')
INSERT [dbo].[tbl_CenterCreate] ([ID], [Name], [ThanaID], [DistrictID], [Code], [Password]) VALUES (2, N'Adabor Community clinic', 10, 5, N'Ada728', N'NeZdhT')
INSERT [dbo].[tbl_CenterCreate] ([ID], [Name], [ThanaID], [DistrictID], [Code], [Password]) VALUES (3, N'Rahimgoanj comunity', 13, 1, N'Dob835', N'YjyiPL')
SET IDENTITY_INSERT [dbo].[tbl_CenterCreate] OFF
SET IDENTITY_INSERT [dbo].[tbl_Disease_Entry] ON 

INSERT [dbo].[tbl_Disease_Entry] ([ID], [DiseaseName], [DiseaseDescription], [DiseaseTreatment], [DiseaseProcedure]) VALUES (1, N'Fever', N'Has several types.', N'Take rest and medicine', N'Daily continue')
INSERT [dbo].[tbl_Disease_Entry] ([ID], [DiseaseName], [DiseaseDescription], [DiseaseTreatment], [DiseaseProcedure]) VALUES (2, N'Influenja', N'It has several types', N'Take rest and medicine', N'Daily continue')
INSERT [dbo].[tbl_Disease_Entry] ([ID], [DiseaseName], [DiseaseDescription], [DiseaseTreatment], [DiseaseProcedure]) VALUES (3, N'Virul Fever', N'It has several types', N'Take rest and medicine', N'Daily continue')
SET IDENTITY_INSERT [dbo].[tbl_Disease_Entry] OFF
SET IDENTITY_INSERT [dbo].[tbl_District] ON 

INSERT [dbo].[tbl_District] ([ID], [DistrictName]) VALUES (1, N'Mymensingh')
INSERT [dbo].[tbl_District] ([ID], [DistrictName]) VALUES (2, N'Dhaka')
INSERT [dbo].[tbl_District] ([ID], [DistrictName]) VALUES (3, N'Gazipur')
SET IDENTITY_INSERT [dbo].[tbl_District] OFF
SET IDENTITY_INSERT [dbo].[tbl_DoctorEntry] ON 

INSERT [dbo].[tbl_DoctorEntry] ([ID], [Name], [Degree], [Specialization], [CenterID], [ThanaID], [DistrictID]) VALUES (1, N'Raju', N'FCPS', N'Love', 7, 13, 1)
INSERT [dbo].[tbl_DoctorEntry] ([ID], [Name], [Degree], [Specialization], [CenterID], [ThanaID], [DistrictID]) VALUES (2, N'Karim', N'MBBS', N'Mind', 7, 13, 1)
INSERT [dbo].[tbl_DoctorEntry] ([ID], [Name], [Degree], [Specialization], [CenterID], [ThanaID], [DistrictID]) VALUES (3, N'Ajad', N'Herbal', N'Normal', 7, 13, 1)
SET IDENTITY_INSERT [dbo].[tbl_DoctorEntry] OFF
SET IDENTITY_INSERT [dbo].[tbl_Dose] ON 

INSERT [dbo].[tbl_Dose] ([ID], [Dose]) VALUES (1, N'1+1+1')
INSERT [dbo].[tbl_Dose] ([ID], [Dose]) VALUES (2, N'0+0+1')
INSERT [dbo].[tbl_Dose] ([ID], [Dose]) VALUES (3, N'0+1+0')
SET IDENTITY_INSERT [dbo].[tbl_Dose] OFF
SET IDENTITY_INSERT [dbo].[tbl_Medicine] ON 

INSERT [dbo].[tbl_Medicine] ([ID], [MedicineName]) VALUES (1, N'Losectil 20mg')
INSERT [dbo].[tbl_Medicine] ([ID], [MedicineName]) VALUES (2, N'Finix 30mg')
INSERT [dbo].[tbl_Medicine] ([ID], [MedicineName]) VALUES (3, N'Sergell 10mg')
SET IDENTITY_INSERT [dbo].[tbl_Medicine] OFF
SET IDENTITY_INSERT [dbo].[tbl_SendMedicine] ON 

INSERT [dbo].[tbl_SendMedicine] ([ID], [DistrictID], [ThanaID], [Center], [MedicineName], [Quantity]) VALUES (1, 1, 13, N'7', N'Sergell 10mg', 20)
INSERT [dbo].[tbl_SendMedicine] ([ID], [DistrictID], [ThanaID], [Center], [MedicineName], [Quantity]) VALUES (2, 1, 13, N'7', N'Calbo-D 50mg', 10)
INSERT [dbo].[tbl_SendMedicine] ([ID], [DistrictID], [ThanaID], [Center], [MedicineName], [Quantity]) VALUES (3, 1, 13, N'7', N'Napa 20mg', 5)
SET IDENTITY_INSERT [dbo].[tbl_SendMedicine] OFF
SET IDENTITY_INSERT [dbo].[tbl_Thana] ON 

INSERT [dbo].[tbl_Thana] ([ID], [ThanaName], [DistrictID]) VALUES (2, N'Sadar', 1)
INSERT [dbo].[tbl_Thana] ([ID], [ThanaName], [DistrictID]) VALUES (4, N'Valuka', 1)
INSERT [dbo].[tbl_Thana] ([ID], [ThanaName], [DistrictID]) VALUES (5, N'Issorgoanj', 2)
SET IDENTITY_INSERT [dbo].[tbl_Thana] OFF
SET IDENTITY_INSERT [dbo].[tbl_TreatmentGiven] ON 

INSERT [dbo].[tbl_TreatmentGiven] ([ID], [VoterID], [ServiceGiven], [Observation], [Date], [Doctor], [Disease], [Medicine], [Dose], [Meal], [Quantity], [Note], [CenterID], [ThanaID], [DistrictID]) VALUES (1, N'7865409458659', 1, N'He is a good Person', CAST(0x0000A4C400000000 AS DateTime), N'Karim', N'Influenja', N'Calbo-D 50mg', N'0+0+1', N'After meal', 10, N'Continue', 7, 13, 1)
INSERT [dbo].[tbl_TreatmentGiven] ([ID], [VoterID], [ServiceGiven], [Observation], [Date], [Doctor], [Disease], [Medicine], [Dose], [Meal], [Quantity], [Note], [CenterID], [ThanaID], [DistrictID]) VALUES (10, N'1098789543218', 1, N'He is a good person', CAST(0x0000A4C400000000 AS DateTime), N'Karim', N'Influenja', N'Calbo-D 50mg', N'0+0+1', N'After meal', 10, N'Continue', 7, 13, 1)
INSERT [dbo].[tbl_TreatmentGiven] ([ID], [VoterID], [ServiceGiven], [Observation], [Date], [Doctor], [Disease], [Medicine], [Dose], [Meal], [Quantity], [Note], [CenterID], [ThanaID], [DistrictID]) VALUES (11, N'1098789543218', 1, N'He is a good person', CAST(0x0000A4C400000000 AS DateTime), N'Karim', N'Influenja', N'Napa 20mg', N'1+1+1', N'Before meal', 5, N'Continue', 7, 13, 1)
SET IDENTITY_INSERT [dbo].[tbl_TreatmentGiven] OFF
ALTER TABLE [dbo].[tbl_TreatmentGiven] ADD  CONSTRAINT [DF_tbl_TreatmentGiven_ServiceGiven]  DEFAULT ((0)) FOR [ServiceGiven]
GO
ALTER TABLE [dbo].[tbl_CenterCreate]  WITH CHECK ADD  CONSTRAINT [FK_tbl_CenterCreate_tbl_Thana] FOREIGN KEY([ThanaID])
REFERENCES [dbo].[tbl_Thana] ([ID])
GO
ALTER TABLE [dbo].[tbl_CenterCreate] CHECK CONSTRAINT [FK_tbl_CenterCreate_tbl_Thana]
GO
ALTER TABLE [dbo].[tbl_Thana]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Thana_tbl_District] FOREIGN KEY([DistrictID])
REFERENCES [dbo].[tbl_District] ([ID])
GO
ALTER TABLE [dbo].[tbl_Thana] CHECK CONSTRAINT [FK_tbl_Thana_tbl_District]
GO
USE [master]
GO
